# --- APPLICATION ---
APP__NAME=modern-python-service
APP__HOST=0.0.0.0
APP__PORT=80
APP__VERSION=0.1.0
APP__ENV=development

# --- LOGGING ---
LOGGING__LEVEL=INFO
LOGGING_JSON_OUTPUT=false

# --- DATABASE ---
DATABASE__HOST=localhost
DATABASE__PORT=5932
DATABASE__USER=guest
DATABASE__PASSWORD=12345678
DATABASE__DATABASE=postgres
DATABASE__ECHO=false
DATABASE__RUN_MIGRATIONS=false

# --- NATS ---
NATS__HOST=localhost
NATS__PORT=4222
NATS__USER=guest
NATS__PASSWORD=12345678

# --- TELEMETRY ---
OTEL__ENABLED=false
OTEL__COLLECTOR_URL=http://localhost:4318
OTEL__SAMPLE_RATIO=1.0
OTEL__METRICS_EXPORT_INTERVAL_MS=60000
OTEL__EXCLUDED_URLS=
